@model ViewInterfaces.Interfaces.ICanRenderBodySection

<div>
    <div>
        <img src="@Model.ImageUrl" width="300">
    </div>
    <div>
        <h6>@Model.ImageCaption</h6>
    </div>
    <div>
        <p>@Model.BodyCopy</p>
    </div>
</div>